<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Filmofil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
          crossorigin="anonymous" />

</head>

<body class="detail">
    <div class="sidebar sb-left">
        <nav class="mobile-nav">
            <ul>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i><span>Home</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Movies" asp-action="Index"><i class="fa fa-film"></i><span>Movies</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Studio" asp-action="Index"><i class="fa fa-video"></i><span>Studio</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="StreamingService" asp-action="Index"><i class="fas fa-globe"></i><span>Streaming service</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Actor" asp-action="Index"><i class="fas fa-users"></i><span>Actors</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Personnel" asp-action="Index"><i class="fas fa-user-tie"></i><span>Personnel</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-user-cog"></i><span>Dashboard</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="site-container">
        <main id="main">
            <header id="main-header">
                <div class="inner-container" style="display: inline-flex;">
                    <div class="sb-toggle-left">
                        <span class="menu-icon"></span>
                        <span class="menu-icon-text">Menu</span>
                    </div>

                    
                        <img src="~/img/whiteMovie.png"/>
                    
                    
                    <div class="login" style="display: inline-block;margin-right: 20px;padding-top: 27px;">

                        <a asp-area="" asp-controller="Authentication" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i>
                            <span>Login</span>
                        </a>
                    </div>
                    <div class="sign-up" style="display: inline-block;margin-right: 20px;padding-top: 27px;">
                        <a asp-area="" asp-controller="Authentication" asp-action="Register">
                            <i class="fas fa-user-plus"></i>
                            <span>Sign up</span>
                        </a>
                    </div>
                    <div class="logout" style="display: inline-block;margin-right: 20px;padding-top: 27px;">
                        <a asp-area="" asp-controller="Authentication" asp-action="Login">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </header>
            <section id="content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </section>
        </main>
    </div>


    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Filmofil - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> !-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false);

</body>

</html>
