<body class="detail">
    <div class="sidebar sb-left">
        <nav class="mobile-nav">
            <ul>
                <li><a href="index.html"><i class="fa fa-film"></i><span>Latest</span></a></li>
                <li><a href="/genre/in-theaters/"><i class="fa fa-ticket"></i><span>In Theaters</span></a></li>
                <li><a href="/top/"><i class="fa fa-trophy"></i><span>Top</span></a></li>
                <li><a href="/random/"><i class="fa fa-random"></i><span>Random</span></a></li>
                <li><a href="/genre/tv-series/"><i class="fa fa-desktop"></i><span>TV Series</span></a></li>
                <li><a href="/contact/"><i class="fa fa-envelope"></i><span>Contact us</span></a></li>
                <li><a href="/feed"><i class="fa fa-rss"></i><span>Feed</span></a></li>
            </ul>
        </nav>
    </div>
    <div id="site-container">
        <main id="main">
            <header id="main-header">
                <div class="inner-container">
                    <div class="sb-toggle-left">
                        <span class="menu-icon"></span>
                        <span class="menu-icon-text">Menu</span>
                    </div>
                    <a href="index.html" class="logo">MovieWP</a>
                    <ul class="header-nav">
                        <li><a href="https://facebook.com/" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </main>
    </div>
    </body>