@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (Model.Message != null)
{
    <h2 class="text-danger">@Model.Message</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h5 style="margin-top:30px"><a href="~/@Model.Redirection">Redirect</a></h5>

