@using Filmofil.Views.Shared.SearchBar
@model SPager

<div class="col-4 p-0 justify-content-end">
    <form asp-controller="@Model.Controller" asp-action="@Model.Action">
            <div style="display: inline-flex;">
                <span class="btn-group">
                    <input style="width: 350px;" class="form-control" type="search" name="SearchText" value="@Model.SearchText" placeholder="Search key">
                </span>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
    </form>
</div>

<style>
    form {
        width: 300px;
        height: 44px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    input {
        all: unset;
        font: 16px system-ui;
        color: #fff;
        height: 100%;
        width: 350px;
        padding: 6px 10px;
    }

    ::placeholder {
        color: #fff;
        opacity: 0.7;
    }
    button {
        all: unset;
        cursor: pointer;
        width: 90px;
        height: 38px;
    }

    svg {
        color: #fff;
        fill: currentColor;
        width: 40px;
        height: 25px;
        padding: 13px;
    }
</style>

