@model LoginViewModel 

<form method="post" action="/Login/Index">

    <label>Username:</label>
    <input type="text" asp-for="Username"/>

    <label>Password:</label>
    <input type="password" asp-for="Password"/>

    <input type="submit" value="Login" />

</form>
