@model Filmofil.Models.Personnel.CreatePersonnelViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Personnel</h1>

<h4>Personnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First name</label>
                <input asp-for="FirstName" class="form-control" type="text" pattern="[a-zA-Z]*"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last name</label>
                <input asp-for="LastName" class="form-control" type="text" pattern="[a-zA-Z]*"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Born" class="control-label"></label>
                <input asp-for="Born" class="form-control" value="@DateTime.Now"/>
                <span asp-validation-for="Born" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Country</label>
                <select asp-for="CountryId" class="form-control" id="CountryId">
                    @foreach (var item in Model.Countries)
                    {
                        <option value="@item.CountryId" id="@item.CountryId">@item.Name</option>

                    }
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trademark" class="control-label"></label>
                <input asp-for="Trademark" class="form-control" />
                <span asp-validation-for="Trademark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
